.banner{
    height: 50vh;
    position: relative;
}

.banner__search{
    display: flex;
    flex-direction: column;
    
}

.banner__searchButton{
    background-color: white ;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.search {
    position: absolute;
    top: 135px;
    left: 25%;
    width: 100vw;
}
.search>h2 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 0px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 370px;
}
.search>input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top:420px;
    border: none;

}

.search > button {
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 579px;
}

.search > button:hover{
    background-color: white;
    color: #ff7779;
}

.search>input:focus{
    outline-width: 0;
}